{erl_opts, [debug_info]}.

{deps, []}.

{alias, [
    {analyze, [xref, dialyzer]}
]}.

{project_plugins, [erlfmt, geas_rebar3, rebar3_ex_doc]}.

{erlfmt, [
    write,
    {print_width, 80}
]}.

{profiles, [
    {test, [
        {deps, [unite]},
        {eunit_tests, [{inparallel, grid_tests}]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/eproxus/grid">>},
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'CHANGELOG.md', #{title => <<"Changelog">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>}
]}.

{hex, [{doc, ex_doc}]}.
