{erl_opts, [debug_info]}.

{deps, []}.

{alias, [
    {analyze, [xref, dialyzer]}
]}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {print_width, 80}
]}.

{profiles, [
    {test, [
        {deps, [unite]},
        {eunit_tests, [{inparallel, grid_tests}]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]}
]}.
